*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
div{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #fffb02;
}
h1{
    width: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 3rem;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: rgb(246, 248, 250);
}
p{
    font-family: 'Bebas Neue', cursive;
}